body {
    font-family: "Roboto",  sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}
.logo-top {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; }
.link-name-top {
            color: #2e2f42; }
.link {
     text-decoration: none;
     }
.list {
     list-style: none;
        padding: 0;
         margin: 0;  }
.container {
    margin-right: auto;
                margin-left: auto;
                width: 1158px;
                padding-left: 12px;
                padding-right: 12px;  }         
.page-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link {
    font-style: normal;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: #2e2f42;
}
.page-nav .link {
    color: #2e2f42;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;
}
.address .link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.address .link:hover,
.address .link:focus {
    color: #404bbf;
}
.page-title {
    font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
}
.main-title { font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #fff;
        background-color: #2e2f42;
    }
.button { font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}

.text {
    font-size: 16px;
    color: #434455;
}
.text-footer {
    color: #f4f4fd;
}
.page-footer {
    background: #2e2f42;
        color: #f4f4fd;
}
.logo-bottom { font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
}
.service-titles {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
    }
.link-name-bottom {
    color: #f4f4fd;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}